body {
  font-family: futura;
  font-size: 1.5em;
  color: #000;
}

#intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

#intro-container {
  position : absolute; 
  width : 100%;
}

#project-section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.profile-img {
  border-radius: 50%;
  max-width: 20%;
  border-width: 5px;
  border-color: white;
  border-style: solid;
  margin: 20px;
}

.screenshot {
  max-width: 100%;
}

.icon {
  max-width: 30%;
  padding-bottom: 30px;
  filter: drop-shadow( -2px -2px 2px #fff );
}

#icon-container {
  font-size: 4em;
  display: inline;
}

.project {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  margin: 15px 10px 0 10px;
  background-color: transparent;
}

a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

