

#intro-section {
  color: red;
  height: 100vh;
  display : flex;
  align-items : center;
  text-align: center;
}

#background-section {
  color: green;
  height: 100vh;
  position: relative;
  display : flex;
  align-items : center;
  text-align: center;
}

#project1-section {
  color: green;
  height: 100vh;
  position: relative;
  display : flex;
  align-items : center;
  text-align: center;
}

#project2-section {
  color: green;
  height: 100vh;
  position: relative;
  display : flex;
  align-items : center;
  text-align: center;
}

#project3-section {
  color: green;
  height: 100vh;
  position: relative;
  display : flex;
  align-items : center;
  text-align: center;
}



img {
  border-radius: 50%;
  max-width: 20%;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  margin: 0px;
}

header {
  display: block;
  width: 100%;
  height: 50px;
  color: white;
  position:absolute;
}
#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
.navButton {
  float: right;
  position: absolute;
}
footer {
  display: block;
  width: 100%;
  height: 50px;
  color: white;
  position: absolute;
}
